* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainpagediv {
    height: 100vh;
    width: 100vw;
    background-color: #bebebe;
    display: flex;
    justify-content: center;
}

.whiteElem {
    height: 80vh;
    width: 900px;
    background-color: white;
    margin-top: 5%;
    border-radius: 10px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}

.inpt {
    height: 40px;
    width: 600px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #f1f1f1;
    padding-left: 15px;
    font-size: 16px;
}

.upper {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lower {
    height: 80%;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    box-sizing: border-box;
}

.btnr {
    height: 40px;
    width: 100px;
    margin-left: 5px;
    color: white;
    background-color: black;
    border-radius: 10px;
}

.inpt::-webkit-input-placeholder {
    color: black;
    font-weight: 500;
}

.mainContainer {
    /* border: 1px solid red;     */
    margin: 10px 0px 10px 0px;
    min-width: 25vh;
    max-width: 80vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.cardContainer {
    height: 280px;
    width: 280px;
    overflow: scroll;
}

/* hiden the scroll bar */
.cardContainer::-webkit-scrollbar {
    display: none;
}

.cardImage {
    width: 280px;
    height: 150px;
    overflow: hidden;
}

.controlimg {
    height: 100%;
    width: 100%;
}

.cardContainer:hover .controlimg {
    transform: scale(1.1);
    transition: all 0.7s ease;
}

.pagination {
    display: inline-block;
    margin-bottom: 25px;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: red;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: black;
    color: white;
}

.mainpagediv::-webkit-scrollbar {
    display: none;
}